.cart-container {
    min-height: 20px;
    background-color: beige;
    border: 2px solid black;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
    color: black
}

.text-end {
    text-align: end;
}

.text-center {
    text-align: center;
}

.space {
    padding: 30px;
}

.img-item-cart {
    max-width: 100px;
    max-height: 100px;

}

.aviso-cart {
    text-align: center;
}

@media (max-width: 500px) {
    .btn-agregar-cart {
        font-size: 12px;
    }

    .texto-nombre-cart{
        font-size: 12px;
    }

    .aviso-cart {
        font-size: 20px;
    }

    .img-item-cart {
        max-width: 60px;
        max-height: 60px;
    
    }
    


}